.inst-hero {
  padding-right: 0 !important;
  padding-left: 0 !important;

  .container-flex {
    .overlay {
      position: absolute;
      left: 0;
      top: 40px;
      height: 400px;
      width: 100%;
      background-color: #000;
      opacity: 0.4;
    }

    .aa_loginForm {
      border-radius: 0 0 0 35px;
      background-color: $white;
      color: $brand-color;
      padding: 20px 30px;
      box-shadow: 0 5px 25px 0 rgba(50, 50, 50, 0.1);

      #loginform {
        p {
          display: flex;
          justify-content: space-between;
          color: $brand-color;
          font-size: 14px;
        }
      }
    }

    .hero-text {
      position: relative;

      h1.hero {
        position: absolute;
        font-weight: 700;
        font-size: 2rem;
        bottom: 1rem;
        text-transform: uppercase;
        color: $white;
        padding: 0 0 40px 65px;

        span {
          font-size: 1rem;
          top: 55px;
          position: absolute;
          font-weight: 400;

          @media screen and (max-width: 772px) {
            top: 40px;
          }
        }

        @media screen and (max-width: 772px) {
          top: 102px;
          width: 70%;
          padding: 20px 0 35px 15px;
          font-size: 1.3rem;
        }
      }
    }
  }
}
