/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$brand-color: #00367c;
$green: #104e47;
$dark-green: #042b28;
$details: #e7b142;
$white: white;
$black: black;
$gray: #a7a7a7;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
